# docker-compose

version: "3.4"

services:
  express:
    build:
      context: .
      target: ${npm_package_config_docker_build_env}
      args:
        - BUILD_ENV=${npm_package_config_docker_build_env}
        - VERSION=${npm_package_config_docker_tag}
    # environment:
      # - NODE_ENV=... (useful if you want to set BUILD_ENV="development" to include
      #                 all dependencies and dynamically launch with "yarn start")
      # - LOG_LEVEL=... (for dynamically setting up an override log level)
      # - LOG_FILTER=... (for dynamically setting up an override log filter)
    image: stevenxie/express-starter:${npm_package_config_docker_tag}
    container_name: express-starter
    ports:
      - "3000:3000"
    volumes:
      - express-vol:/app/dist
#    restart: on-failure

volumes:
  express-vol:
