version: "3.4"

services:
  express:
    build:
      context: .
      target: ${BUILD_ENV}
      args:
        - BUILD_ENV=${BUILD_ENV}
        - BUILD_TAG=${BUILD_TAG}
    # environment:
      # - NODE_ENV=... (useful if you want to set BUILD_ENV="development" to include
      #                 all dependencies and dynamically launch with "yarn start")
      # - LOG_LEVEL=... (for dynamically setting up an override log level)
      # - LOG_FILTER=... (for dynamically setting up an override log filter)
    image: stevenxie/express-starter:${BUILD_TAG}
    container_name: express-starter
    ports:
      - "3000:3000"
    volumes:
      - express-vol:/app
#    restart: on-failure

volumes:
  express-vol:
